{% extends "base.html" %}

{% block title %}Управление{% endblock %}

{% block header %}Управление покупателями{% endblock %}

{% block main %}
    <ul>
        <li>
            <a href="{% url 'show_customers' %}">Показать всех покупателей</a>
            <br/>
            <a href="{% url 'create_customer' %}">Создать покупателя</a>
            <br/>
            <a href="{% url 'show_customer_products' customer_id=2 %}">Заказанные товары</a>
            <br/>
            <a href="{% url 'delete_customers' %}">Удалить покупателей</a>
            <br/>
        </li>
    </ul>
{% endblock %}
